
<div class="box-body">
  <app-organization-setup-header></app-organization-setup-header>
</div>

  <div class="box with-border" style="width:100%;height:auto;background:#fff;border-top: 1px solid #ccc!important;">
    <div class="box-header" style="background:#fff;border:0;padding: 10px;">

        <span class="box-title" style="font-weight:600;font-size:23px;padding-left: 10px;">CampaignParameter</span>


          <span style="float: right;">
            <select id="organization-area" [(ngModel)]="orgName" class="form-control"
              placeholder="Pick a Organization Name" >
              <option value="">Pick a Organization Name</option>
              <option value="All">All</option>
              <option *ngFor="let organization of organizationLists" value="{{organization.id}}">
                {{organization.orgname}}
              </option>
            </select>
          </span>

      <hr>
  </div>



  <div class="box-body">


    <div data-ng-hide="hideSearchFilter()">

      <!-- <div class="row" style="margin:0;padding:0;">
          <div class="col-sm-6" style="padding-top:5px;">
              <span>Show</span>
              <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
              </select>
              <span>Entries</span>
          </div>
          <div class="col-sm-6">
              <div class="row" style="margin:0;padding:0;">
                  <div class="col-sm-4"></div>
                  <div class="col-sm-7">


                          <div class="input-group">
                              <input type="text" class="form-control" id="search-criteria" placeholder="Search for..." style="z-index:0; border-top-left-radius: 5px;border-bottom-left-radius: 5px;" data-ng-model="searchZipMaster">
                              <span class="input-group-btn">
                              <button class="btn btn-default" type="button" data-ng-click="Search()" style="border: 1px solid #ced4da;border-top-right-radius: 5px;border-bottom-right-radius: 5px;background-image: -webkit-linear-gradient(top,#fff 0,#e0e0e0 100%);"><span class="fa fa-search"></span>
                              </button>
                              </span>
                               <div class="no-results" style="display:none">no results found</div>
                          </div>


                  </div>
                  <div class="pull-right">
                      <a routerLink="/zipmasters/create" class="btn btn-primary btn-sm btn-flat" role="button" data-ng-hide="hideCreateButton()"><span class="fa fa-plus"></span> </a>
                  </div>
              </div>

          </div>

      </div> -->
  </div>
  <br />
  <div>
               <div  class="table-responsive">
              <table class="table table-striped"  id="zipmaster">
                  <thead>
                      <tr>
                          <th style="width:50px;">#</th>
                          <th>CampaignParameter</th>
                          <th>Organization Name</th>
                          <th style="width:100px;">Action</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let zipmaster of data">

                          <td>{{zipmaster.index}}</td>
                          <td>{{ zipmaster.name }}</td>
                          <td>
                            {{zipmaster.orgName}}</td>
                          <td><a routerLink="/zipmasters/{{ zipmaster.id }}"><span class="fa fa-pencil-square-o" style="color: black"></span></a>
                              <a routerLink="/zipmasters" mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" placement="left" (confirm)="confirmClicked(zipmaster.id)" (cancel)="cancelClicked=true"><span class="fa fa-times-circle-o" style="color: red"></span></a>
                             </td>

                      </tr>

                  </tbody>
              </table>
              <!-- <div>
                <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
              </div> -->
              </div>


              <div >

              </div>
          </div>

  </div>
  </div>

