<div class="box-body" style="text-align:center;">

  <app-organization-setup-header></app-organization-setup-header>

</div>

  <div class="box with-border" style="width:100%;height:auto;background:#fff;border-top: 1px solid #ccc!important;">
    <div class="box-header" style="background:#fff;border:0;padding: 10px;">
      <span class="box-title" style="font-weight:600;font-size:23px;padding-left: 10px;">CampaignParameter</span>

    <hr>

  </div>

  <br />
<div class="box-body">

  <form class="form-horizontal" role="form" [formGroup]="zipmastersForm" >

    <div class="form-group row">
      <label class="control-label col-sm-2" for="course" style="font-weight: 600;margin-top:5px;margin-left:20px">Organization Name<span style="color: red;">*</span></label>
      <div class="col-sm-4">
        <select class="form-control" formControlName="organizationId"
                placeholder="Pick a Organization Name" >
                  <option value="">Pick a Organization Name</option>
                  <option *ngFor="let organization of organizationLists" value="{{organization.id}}">
                    {{organization.orgname}}
                  </option>
        </select>

      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-sm-2" for="course" style="font-weight: 600;margin-top:5px;margin-left:20px">CampaignParameter<span style="color: red;">*</span></label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="name" formControlName="name" placeholder="campaignparameter" maxlength="6" numbers-only="numbers-only">
          <!-- <span *ngIf="!name.valid && (name.touched || userSubmitted)" class="error-block">
            Please Provide Name
          </span> -->
          <p style="color: red;"
          *ngIf="zipmastersForm.get('name') && zipmastersForm.get('name').touched && zipmastersForm.get('name').invalid">
          Please enter name
        </p>
        </div>
    </div>



    <br/>
    <br/>
    <br/>
    <div align="left">
        <div>


            <button class="btn btn-success btn-sm btn-flat" type="submit" role="button" *ngIf="btnvisiblity" (click)="onSubmit()">Create </button>&nbsp;

            <button class="btn btn-success btn-sm btn-flat" type="submit" role="button" *ngIf="!btnvisiblity" (click)="onUpdate()">Update </button>&nbsp;



            <a routerLink="/zipmasters" class="btn btn-danger btn-sm btn-flat" role="button"> Cancel</a>
        </div>
    </div>




</form>

</div>

  </div>
