.card-header{
    font-size: 35px;
    text-align: left;
    padding-left: 0px;
    color: #5f98fa;
}
.col-sm-8{
    width: 70%;
}
.col-sm-4{
    width: 30%;
    position: absolute;
    right: 0;
    top: 0;
}

.m-auto{
    margin-top: 27%;
    padding-left: 15%;
}
.stylelink {
    padding: 3px 10px;
    background: #2f313a;
    color: #fff;
    border-radius: 50px;
    margin-left: 22%;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    display: inline-flex;
    flex-flow: row nowrap;
    border-color: #2f313a;
}

