
<div style="width:100%;height:auto;background:#ffffff;">
  <div class="wrapper">

      <div style="text-align:center;" class="stylelink2 active ">
          <a href="/zipmasters" class="stylelink active "><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">Setup</span></a>
      </div>
      <div style="text-align:center;" class="stylelink2">
          <a href="/zones" class="stylelink"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">Divisions</span></a>
      </div>
      <div style="text-align:center;" class="stylelink2">
          <a href="/countries" class="stylelink"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">Location</span></a>
      </div>
      <div style="text-align:center;" class="stylelink2">
          <a class="stylelink" href="/groups"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">Registration</span></a>
      </div>
  </div>
</div>
<div style="width:100%;height:auto;background:#fff;">
  <div class="wrapper" style="background:#fff;border:0;">


      <div style="text-align:center;">
          <a href="/zipmasters" class="sub_menu active"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">C_Parameter</span></a>
      </div>
      <div style="text-align:center;">
          <a href="/languagemasters" class="sub_menu"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">C_Languages</span></a>
      </div>
      <div style="text-align:center;">
          <a href="/messagemasters" class="sub_menu "><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">Message Master</span></a>
      </div>
      <div style="text-align:center;">
          <a href="/callofactions" class="sub_menu"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">Call of Action</span></a>
      </div>
      <div style="text-align:center;">
          <a href="/orgtype" class="sub_menu"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">Org Types</span></a>
      </div>
      <div style="text-align:center;">
          <a href="/organizations" class="sub_menu "><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis; font-color:red;">Organizations</span></a>
      </div>
      <div style="text-align:center;">
          <a href="/templatecreations" class="sub_menu"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">Template Creation</span></a>
      </div>
      <div style="text-align:center;">
          <a href="/templateorganizationlink" class="sub_menu"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">Template Org_link</span></a>
      </div>

      <div style="text-align:center;">
          <a href="/campaignapproval" class="sub_menu "><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">Campaign Approval</span></a>
      </div>
  </div>

</div>
